/*
TEAL CREATION
1 EBFFFA accend
2 C6FCE5 third
3 6EF3D6 second
4 0DCEDA primary
5 4ea1ac primary dark
6 292929; text black

GREEN CREATION

1 34b7f1 accend
2 dcf8c6 third
3 25d366 second
4 128c7e primary
5 075e54 primary dark
6 292929; text blackp


*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,400;1,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Titillium+Web:ital,wght@0,200;0,400;1,200;1,400&display=swap');


/* body{
    padding:0px;
    background: #fafafa ;
    font-family: 'Open Sans', sans-serif;
    color: rgb(34, 34, 34);
} */
/* R 48 G 176 B 199 */
